@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* Pastikan kontrol dan navigasi Leaflet muncul di atas peta */
.leaflet-control-container {
  z-index: 1000 !important;
}

/* --- Fix z-index Leaflet agar tidak menutupi navbar --- */
/* Jangan sampai peta menutupi navbar */
.leaflet-container {
  z-index: 0 !important;
}

/* Biar kontrol tidak hilang di layer bawah */
.leaflet-top,
.leaflet-bottom {
  z-index: 1000 !important;
}


.leaflet-control-layers {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}